img {
    max-width: 200px;
    float: left;

}

.palette {
    float: left;
    width: 220px;
}

.palette>div {
    width: 20px;
    height: 20px;
    background-color: var(--color);
    margin: 2px;
    user-select: all;
    cursor: pointer;


}

.palette>div:after {
    content: attr(color);
    font-family: monospace;
    margin-left: 24px;
    white-space: nowrap;
}

.result {
    background: wheat;
    display: inline;
    padding: 7px 15px;
    border-radius: 15px;
    color: red;
}